{
  "env": {
    "mocha": true,
    "browser": true,
    "jquery": true,
    "mongo": true,
    "node": true
  },
  "extends": "airbnb/legacy",
  "rules": {
    "func-names": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "vars-on-top": 0,
    "no-param-reassign": 0,
    "global-require" : 0
  }
}
